sudo: required

services:
  - docker

before_install:
  - docker build -t vasianurag/multidockerapp-client-dev -f ./client/Dockerfile.dev ./client

script:
  - docker run vasianurag/multidockerapp-client-dev npm run test -- --coverage

# after_success:

#   # building production images
#   - docker build -t vasianurag/multicontainer-docker-client ./client
#   - docker build -t vasianurag/muticontainer-docker-server ./server
#   - docker build -t vasianurag/muticontainer-docker-nginx ./nginx

#   # login to docker
#   - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

#   # push images to github
#    - docker push vasianurag/multicontainer-docker-client
#    - docker push vasianurag/multicontainer-docker-server
#    - docker push vasianurag/multicontainer-docker-nginx