sudo: required

services:
  - docker

before_install:
  - docker build -t vasianurag/multidockerapp-client-dev -f ./client/Dockerfile.dev ./client

script:
  - docker run vasianurag/multidockerapp-client-dev npm run test -- --coverage

after_success:

  # building production images
  - docker build -t vasianurag/multicontainer-docker-client -f ./client/Dockerfile ./client
  - docker build -t vasianurag/multicontainer-docker-server -f ./server/Dockerfile ./server
  - docker build -t vasianurag/multicontainer-docker-nginx -f ./nginx/Dockerfile ./nginx

  # login to docker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  # push images to docker hub
  - docker push vasianurag/multicontainer-docker-client
  - docker push vasianurag/multicontainer-docker-server
  - docker push vasianurag/multicontainer-docker-nginx

deploy:
  provider: elasticbeanstalk
  access_key_id:
    secure: "$AWS_ACCESS_KEY_ELASTICBEANSTALK"
  secret_access_key:
    secure: "$AWS_SECRET_ACCESS_KEY_ELASTICBEANSTALK"
  region: "us-east-1"
  app: "multicontainer-docker-app"
  env: "MulticontainerDockerApp-env"
  bucket_name: "elasticbeanstalk-us-east-1-690896776770"
  on:
    branch: master